.callpart {
    color: rgba(255, 115, 0, 0.89) !important;

}

.margin-icon {
    margin-left: 68%;
}

.nav-color {
    background-color: #d1e3ff;
}

.logo {
    margin-right: 810px;
    text-transform: uppercase;
    color: navy !important;
    font-weight: 900 !important;
    font-size: 25px !important;
}

.sidebar-style {
    font-weight: bold;
    margin-bottom: 25px;
    color: #0355cc;
}

.sidebar-button {
    text-transform: uppercase;
    padding: 10px 45px;
    border: 1px solid #ff8a1d;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff8a1d;
    margin-top: 25px;
}

   
.div-boxshdow {
    
    padding: 60px 60px;
    display: flex;
}
.div-img{
    width: 80px;
    height: 80px;
    margin: auto;
}
.first{
    background-color: #ffffff;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}
.first:hover{
    background-color: #ff8a1d;
    color: #ffffff!important; 
}
.readme{
    
    margin-top: 15px;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #0355cc;
    border: 1px solid #0355cc;
    border-radius: 2px;
    color: #ffffff
}
.view{
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #0355cc;
    border: 1px solid #0355cc;
    border-radius: 0;
    color: #ffffff
}
.send{
    border: none;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 55px;
    background-color: #0355cc;
    border: 1px solid #0355cc;
    border-radius: 0;
    color: #ffffff;
    margin-top: 15px;
    margin-right: 350px;
}
#app {
    width: 100%;
    height: 100%;
}

.footer{
    background-color: rgb(4, 4, 63);
    width: 100%;
    height: 80%;
}
.footer-content{
    display: flex;
    width: 30%;
    height: 100%;
    border-radius: 50%;
    background-color: #1a5ac0;
    margin: auto;
}
#app {
    width: 100%;
    height: 100%;
}
.footer-div{
    background-color: white;
    height: 7%;
    width: 10%;
    margin: auto;
    display: flex;
}